.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

#about-me h2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;}

    .hero{
        background-image: url('/assets/img/home-img.jpg');
        background-size: cover;
        background-position: center center;
    }
.title{
    color: #060505;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.125;
    margin-bottom: 40rem;
    font-family: sans-serif;

}
.about-me{
background-color: mintcream;
}
