<section class="hero  is-bold is-fullheight">
    <div class="hero-body">
        <div class ="container has-text-centered">
      <p class="title">
        Athari
      </p>
    </div>

    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
        <h2>About Athari</h2>
      <p>
        <strong>Athari</strong> is on a mission to build a diverse and inclusive workforce by mindfully placing candidates in roles that provide opportunities for generational change.
      </p>
      <a href="https://www.atharirecruiting.com/">Official Website</a>
    </div>
  </footer>